<?xml version="1.0"?>
<apilist xmlns="http://www.test.org"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.test.org https://raw.githubusercontent.com/tussoftwaredesign/project-BenRaguckas/go-rest-api/config/config.xsd">
    <default-entrypoints>
        <put-item>/backend/:bucket</put-item>
        <put-item-named>/backend/:bucket/:fname</put-item-named>
        <get-item>/backend/:bucket</get-item>
        <get-item-named>/backend/:bucket/:fname</get-item-named>
        <post-status>/backend/:bucket</post-status>
    </default-entrypoints>
    <!-- Simple function list -->
    <endpoint>
        <uri use_params="false">/sf</uri>
        <simple-function method="GET" use_body="false">listBuckets</simple-function>
        <simple-function method="POST" use_body="true" body_items="file">postItem</simple-function>
    </endpoint>
    <endpoint>
        <uri use_params="true" path_params="bucket">/sf/:bucket</uri>
        <simple-function method="GET" use_body="false">getItem</simple-function>
        <simple-function method="PUT" use_body="true" body_items="file">putItem</simple-function>
        <simple-function method="DELETE" use_body="false">deleteBucket</simple-function>
    </endpoint>
    <endpoint>
        <uri use_params="true" path_params="bucket">/sf/:bucket/info</uri>
        <simple-function method="GET" use_body="false">bucketDetails</simple-function>
    </endpoint>
    <endpoint>
        <uri use_params="true" path_params="bucket item">/sf/:bucket/:item</uri>
        <simple-function method="GET" use_body="false">getItemNamed</simple-function>
        <simple-function method="PUT" use_body="true" body_items="file">putItemNamed</simple-function>
    </endpoint>

    <endpoint>
        <uri use_params="false">/graybackground</uri>
        <pre-defined-routing object_identifier="file">
            <queue>backgroundQ</queue>
            <queue>grayoutQ</queue>
        </pre-defined-routing>
    </endpoint>

    <endpoint>
        <uri use_params="false">/gray</uri>
        <pre-defined-routing object_identifier="file">
            <queue>grayoutQ</queue>
        </pre-defined-routing>
    </endpoint>
    
    <endpoint>
        <uri use_params="false">/custom</uri>
        <user-defined-routing object_identifier="file" routing_identifier="routing" />
    </endpoint>

    <endpoint>
        <uri use_params="false">/background</uri>
        <pre-defined-routing object_identifier="file">
            <queue>backgroundQ</queue>
        </pre-defined-routing>
    </endpoint>

    <endpoint>
        <uri use_params="false">/transcribe</uri>
        <pre-defined-routing object_identifier="file">
            <queue name="Audio Separation" output="audio-track.mp3">videoaudioextractQ</queue>
            <queue name="Audio Transcribing" input="audio-track.mp3">transcribeQ</queue>
        </pre-defined-routing>
    </endpoint>
</apilist>